@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;1,200;1,600&family=Poppins:ital,wght@0,400;1,600;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
font-family: 'Poppins', sans-serif;
}

.sure {
  justify-content: space-between;
}





body {
  background: url(./Components/Assets/beutytree.jpeg) no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}


